<h1>Listing stables</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Window</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stables.each do |stable| %>
  <tr>
    <td><%= stable.number %></td>
    <td><%= stable.window %></td>
    <td><%= link_to 'Show', stable %></td>
    <td><%= link_to 'Edit', edit_stable_path(stable) %></td>
    <td><%= link_to 'Destroy', stable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stable', new_stable_path %>
