<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @stable.number %>
</p>

<p>
  <b>Window:</b>
  <%= @stable.window %>
</p>


<%= link_to 'Edit', edit_stable_path(@stable) %> |
<%= link_to 'Back', stables_path %>
